@font-face {
    font-family: 'WebSubsetFont';
    src: url('WebSubsetFont.woff2') format('woff2'),
        url('WebSubsetFont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

